{% include 'admin_header.html' %}
<body>
    <br><br><br>
    <div class="container mt-4">
        <h2 class="text-center mb-4">View Food Items</h2>
        <div class="row">
            {% for i in data['view'] %}
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-box"></i> {{ i['item_name'] }}</h5>
                        <p class="card-text"><strong>Description:</strong> {{ i['description'] }}</p>
                        <p class="card-text"><strong>Stock:</strong> {{ i['stock'] }}</p>
                        <p class="card-text"><strong>Amount:</strong> ${{ i['amount'] }}</p>
                        <div class="text-center mt-3">
                            <a href="/admin_view_purchase_detail?id={{i['item_id']}}" class="btn btn-primary btn-sm">
                                <i class="bi bi-eye"></i> View Purchase
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% include 'footer.html' %}