{% include 'superintendent_header.html' %}
<body>
    <!-- <b><u><h1>Superintendent Homepage</h1></u></b>
    <a href="/superintendent_register_warden">Register Warden</a><br><br>
    <a href="/superintendent_view_security_guard">View Guard</a><br><br>
    <a href="/superintendent_view_criminal">View Criminal Records</a><br><br>
    <a href="/superintendent_view_report">View Daily Reports</a><br><br>
    <a href="/superintendent_view_food_item">View Food Items</a><br><br>
    <a href="/superindentent_view_purchase_detail">View Purchase Lists</a><br><br> -->

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">
    
          <img src="static/assets/img/hero-bg.jpg" class="hero-bg" alt="" data-aos="fade-in">
    
          <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
            
            <h2>Welcome to Superintendent Homepage</h2>
            <div>
              <a href="#about" class="cta-btn">Get Started</a>
              <a href="#services" class="cta-btn2">Our Services</a>
            </div>
          </div>
    
        </section><!-- /Hero Section -->

{% include 'footer.html' %}