{% include 'warden_header.html' %}
<body>
    <br><br><br>
    <div class="container mt-4">
        <h2 class="text-center mb-4">Purchase Reports</h2>
        <div class="row">
            {% for i in data['view'] %}
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <h5 class="card-title text-primary"><i class="bi bi-cart"></i> Item ID: {{ i['item_id'] }}</h5>
                        <p class="card-text"><strong>Quantity:</strong> {{ i['quantity'] }}</p>
                        <p class="card-text"><strong>Amount:</strong> ${{ i['amount'] }}</p>
                        <p class="card-text"><strong>Status:</strong> 
                            <span class="badge {% if i['status'] == 'Approved' %} bg-success {% elif i['status'] == 'Pending' %} bg-warning {% else %} bg-danger {% endif %}">
                                {{ i['status'] }}
                            </span>
                        </p>
                    
                        <div class="text-center mt-3">
                            <a href="/update_item?id={{i['purchase_id']}}" class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil-square"></i> Update Status
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

{% include 'footer.html' %}