{% include 'warden_header.html' %}
<body>
    <!-- <u><b><h1>Warden Homepage</h1></b></u>
    <a href="/warden_register_security_guard">Register Security Guards & Alert</a><br><br>
    <a href="/warden_register_criminal">Register Criminal Records</a><br><br>
    <a href="/warden_register_food_item">Register Food Items</a><br><br>
    <a href="/warden_view_purchase_report">View Purchase Report Details</a><br><br> -->

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">
    
          <img src="/static/assets/img/home.jpg" class="hero-bg" alt="" data-aos="fade-in">
    
          <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
            
            <h2>Welcome to Warden Homepage</h2>
            
            <div>
              <a href="#about" class="cta-btn">Get Started</a>
              <a href="#services" class="cta-btn2">Our Services</a>
            </div>
          </div>
    
        </section><!-- /Hero Section -->

{% include 'footer.html' %}